<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="${title} ?: 'B2B System'">B2B</title>
</head>
<body>

<div th:fragment="layout(content)">

    <div th:replace="~{fragments/header :: header}"></div>

    <div style="display:flex; min-height:80vh">

        <div style="width:220px">
            <div th:replace="~{fragments/sidebar :: sidebar}"></div>
        </div>

        <main style="flex:1; padding:20px">
            <!-- تزریق محتوای صفحه -->
            <div th:replace="~{::content}"></div>
        </main>

    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>

</div>

</body>
</html>
