<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout/main :: body">

<div th:fragment="content">

  <h1>Create User</h1>

  <form th:action="@{/users/create}" method="post" th:object="${user}">

    <label>Username</label><br>
    <input type="text" th:field="*{username}"><br><br>

    <label>Email</label><br>
    <input type="email" th:field="*{email}"><br><br>

    <label>Password</label><br>
    <input type="password" name="password"><br><br>

    <label>Role</label><br>
    <select th:field="*{role}">
      <option value="ADMIN">ADMIN</option>
      <option value="HOTEL">HOTEL</option>
      <option value="AGENCY">AGENCY</option>
    </select><br><br>

    <label>
      <input type="checkbox" th:field="*{enabled}">
      Enabled
    </label><br><br>

    <button type="submit">Save</button>
  </form>

</div>
</html>
